
/* загальні налаштування стилів */

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
    }
img{
    display: block;
}

/* логотип в шапке*/

.header-logo-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.84;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.header-logo-studio{
    color: #000000;
}

/* головна навігація */

.navigate:hover,
.navigate:focus {
    color: #2196F3;
}

.navigate{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

/* контакти */

.header-contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0.88;
    letter-spacing: 0.02em;
    color: #757575;
}

/* блок герой */

.hero{
    background-color: #2F303A;
}

.hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button:hover,
.hero-button:focus{
    background-color: #188CE8;
}

.hero-button{
    background-color: #2196F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

/* секція особливості */

.features{
    background-color: #F5F5F5;
}

.features-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.features-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

/* чим ми займаемось */
.portfolio{
    background-color: #F5F5F5;
}
.portfolio-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* наша команда */

.team{
    background-color: #F5F5F5;
}
.team-tatle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}








































