
/* загальні налаштування стилів */

body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

img{
    display: block;
}

/* шапка */

.header{
    background-color: #FFFFFF;
}

/* логотип в шапке*/

.header-logo-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.84;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-logo-studio{
    color: #000000;
}

/* головна навігація */

.navigate:hover,
.navigate:focus {
    color: #2196F3;
}

.navigate{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

/* контакти */

.header-contacts:hover,
.header-contacts:focus{
    color: #2196F3;
}

.header-contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

/* блок герой */

.hero{
    background-color: #2F303A;
}

.hero-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* кнопка */

.hero-button:hover,
.hero-button:focus{
    background-color: #188CE8;
}

.hero-button{
    background-color: #2196F3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

/* секція особливості */

.features{
    background-color: #F5F5F5;
}

.features-title,
.features-subtitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

/* чим ми займаемось
 та наша команда */

.portfolio{
    background-color: #F5F5F5;
}

.portfolio-title,
.team-tatle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-fotocard{
    background-color: #FFFFFF;
}

.team-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-profession{
    font-family: 'Roboto';  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #757575;
}

/* підвал */

.footer{
    background-color: #2F303A;
}

/* логотип у пидвалі */

.footer-logo-web{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-logo-studio{
    color: #FFFFFF;
}

/* контактні данні */


.footer-adress:hover,
.footer-adress:focus{
    color: #2196F3;
}

.footer-contacts:hover,
.footer-contacts:focus{
    color: #2196F3;
}

.footer-adress{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}



/* сторінка портфоліо */
/* шапка та підвал такіж самі */

.page-portfolio{
    background-color: #F5F5F5;
}

/* кнопка */

.page-portfolio-btn:hover,
.page-portfolio-btn:focus{
    color: #FFFFFF;
    background-color: #2196F3;;
}

.page-portfolio-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    cursor: pointer;
}

/* фильтри та карточки */

.page-portfolio-card:hover,
.page-portfolio-card:focus

img{
    display: block;
}

.page-portfolio-card{
    background-color: #FFFFFF;
}

.page-portfolio-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.page-portfolio-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}








